.blue-hard {
  background: #62B5E5;
}

.blue-med {
  background: #7bc1e9;
}

.blue-lite {
  background: #c4e2f3;
}

.grey-hard {
  background: #67899c;
}

.grey-med {
  background: #7994a3;
}

.grey-lite {
  background: #899da8;
}

.green-hard {
  background: #addc91;
}

.green-med {
  background: #b6dda0;
}

.green-lite {
  background: rgb(197, 228, 179);
}
