@media (min-width: 100px) and (max-width: 768px) {
  body {
    margin: 0;
    height: max-content;
    border: 2px solid red;
  }

  a,
  a:hover {
    color: inherit;
  }

  /* .alert {
    z-index: 2;
  } */
}
